.table-container {
  overflow-x: hidden;
}

.row.flex-grow-1 {
  max-width: 100%; /* Set a specific width or percentage as needed */
}

.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.btnadd {
  position: fixed;
  left: 90%;
  background-color: hsl(217, 56%, 47%);
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.main > table {
  margin-top: 50px;
}

.header {
  text-align: center;
}
